<div class="container-fluid col-12" style="margin: auto">
  <div class="col-lg-12">
    <div class="row">
      <div style="padding-right: 5px; padding-left: 10px" class="col-lg-12">
        <form [formGroup]="basicForm">
          <div class="card">
            <div class="card-body row">
              <h4 class="card-title d-inline-block">
                {{ pageTitle | translate }}
              </h4>
              <hr />
              <div class="col-lg-6">
                <div class="input-group mb-1">
                  <div class="input-group-prepend col-6">
                    <label class="input-group-text bg-lightgray">{{
                      "Advance Requisition No" | translate
                    }}</label>
                  </div>
                  <div class="col-6">
                    <input
                      readonly="true"
                      (click)="viewAdvance()"
                      style="
                        cursor: pointer;
                        text-decoration: underline;
                        color: blue;
                        font-weight: bold;
                      "
                      type="text"
                      class="form-control"
                      formControlName="AdvanceRequisitionNo"
                    />
                  </div>
                </div>
                <div *ngIf="isPettyCashSelected" class="input-group mb-1">
                  <div class="input-group-prepend col-6">
                    <label class="input-group-text bg-lightgray">{{
                      "Petty Cash Amount" | translate
                    }}</label>
                  </div>
                  <div class="col-6">
                    <input
                      (keypress)="numberOnly($event)"
                      type="text"
                      class="form-control"
                      readonly
                      formControlName="PettyCashAmount"
                    />
                  </div>
                </div>
                <div class="row mb-1">
                  <label class="col-form-label col-lg-6"
                    >{{ "Attachment" | translate
                    }}<span style="margin-left: 10px; color: sandybrown">{{
                      "Max 10 MB" | translate
                    }}</span></label
                  >
                  <div style="margin-top: 10px" class="col-lg-6">
                    <input
                      type="file"
                      class="mb-4 text-center"
                      ng2FileSelect
                      [uploader]="uploader"
                      (onFileSelected)="onRefundFileSelected($event)"
                      #inputFile
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group mb-1">
                  <div class="input-group-prepend col-4">
                    <label class="input-group-text bg-lightgray"
                      >{{ "Bill Reviewer" | translate
                      }}<span class="required-sign">*</span></label
                    >
                  </div>
                  <div class="col-8 d-flex">
                    <input
                      disabled
                      class="form-control"
                      name="SupervisorName"
                      formControlName="SupervisorName"
                    />
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-lg-12" *ngIf="RefundFiles.length > 0">
                    <table class="table tbl table-bordered mb-0">
                      <thead>
                        <tr class="tableheader">
                          <th class="text-left">Name</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let invFile of RefundFiles; let i = index">
                          <td>{{ invFile?.FileName }}</td>
                          <td style="width: 10px" class="text-right">
                            <a
                              style="margin-left: 10px; cursor: pointer"
                              tooltip="delete"
                              (click)="removeRefundFile(i, invFile?.Id)"
                            >
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="input-group mb-1">
                  <div class="input-group-prepend col-3">
                    <label class="input-group-text bg-lightgray"
                      >{{ "Justification" | translate
                      }}<span class="required-sign">*</span></label
                    >
                  </div>
                  <div class="col-9">
                    <textarea
                      name="textarea"
                      class="form-control"
                      formControlName="Justification"
                      maxlength="500"
                      name="Justification"
                      rows="4"
                      cols="18"
                    ></textarea>
                    <label class="nopadding clrlbl"
                      >{{ "Characters Remaining" | translate }}:
                      {{ justificationFormControl.value.length }} /{{
                        500
                      }}</label
                    >
                  </div>
                  <error-handler
                    controlName="Justification"
                    displayName="{{ 'Justification' | translate }}"
                  ></error-handler>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body row">
              <h4 class="card-title d-inline-block">
                {{ "Settlement Details" | translate }}
              </h4>
              <hr />
              <div>
                <table
                  class="table table-bordered align-middle table-nowrap mb-0"
                >
                  <thead class="table-light">
                    <tr>
                      <th style="width: 20%" class="align-middle col-3">
                        {{ "Particular" | translate }}
                      </th>
                      <th style="width: 20%" class="align-middle col-3">
                        {{ "Description" | translate }}
                      </th>
                      <th style="width: 20%" class="align-middle col-3">
                        {{ "Site Code" | translate }}
                      </th>
                      <th style="width: 10%" class="align-middle col-3">
                        {{ "Advance Amount" | translate }}
                      </th>
                      <th style="width: 10%" class="align-middle col-3">
                        {{ "Actual Cost" | translate }}
                      </th>
                      <th style="width: 20%" class="align-middle col-3">
                        {{ "Attachment" | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      formArrayName="SettlementDetailsItem"
                      *ngFor="
                        let item of settlementDetailsItem.controls;
                        let i = index
                      "
                    >
                      <tr
                        [formGroupName]="i"
                        *ngIf="
                          settlementDetailsItem.controls[i].get('IsActive')
                            ?.value == true
                        "
                      >
                        <td>
                          <div class="input-group mb-1">
                            <div class="col-12 d-flex">
                              <ng-select
                                style="width: 100%"
                                [items]="initModel?.Particulars"
                                bindLabel="Name"
                                bindValue="Id"
                                placeholder="{{ 'Please Select' | translate }}"
                                name="ParticularId"
                                formControlName="ParticularId"
                              >
                                <ng-template ng-option-tmp let-item="item">
                                  {{ item.Name | translate }}
                                </ng-template>
                              </ng-select>
                            </div>
                            <div
                              class="text-danger"
                              *ngIf="
                                settlementDetailsItem.controls[i].get(
                                  'ParticularId'
                                )?.touched
                              "
                            >
                              <span
                                *ngIf="settlementDetailsItem.controls[i].get('ParticularId')?.errors?.['required']"
                                >Required</span
                              >
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group mb-1">
                            <div class="col-12 d-flex">
                              <input
                                placeholder="Please Enter Description"
                                type="text"
                                class="form-control"
                                formControlName="Description"
                              />
                            </div>
                            <div
                              class="text-danger"
                              *ngIf="
                                settlementDetailsItem.controls[i].get(
                                  'Description'
                                )?.touched
                              "
                            >
                              <span
                                *ngIf="settlementDetailsItem.controls[i].get('Description')?.errors?.['required']"
                                >Required</span
                              >
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group mb-1">
                            <div class="col-12 d-flex">
                              <input
                                placeholder="Please Enter Site Code"
                                type="text"
                                class="form-control"
                                formControlName="SiteCode"
                              />
                            </div>
                            <div
                              class="text-danger"
                              *ngIf="
                                settlementDetailsItem.controls[i].get(
                                  'SiteCode'
                                )?.touched
                              "
                            >
                              <span
                                *ngIf="settlementDetailsItem.controls[i].get('SiteCode')?.errors?.['required']"
                                >Required</span
                              >
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group mb-1">
                            <div class="col-12 d-flex">
                              <input
                                readonly="true"
                                placeholder="Please Enter Amount"
                                (keypress)="numberOnly($event)"
                                type="text"
                                class="form-control"
                                formControlName="AdvanceAmount"
                              />
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group mb-1">
                            <div class="col-12 d-flex">
                              <input
                                (change)="calculateAmount()"
                                placeholder="Please Enter Actual Cost"
                                (keypress)="numberOnly($event)"
                                type="text"
                                class="form-control"
                                formControlName="ActualCost"
                              />
                            </div>
                            <div
                              class="text-danger"
                              *ngIf="
                                settlementDetailsItem.controls[i].get(
                                  'ActualCost'
                                )?.touched
                              "
                            >
                              <span
                                *ngIf="settlementDetailsItem.controls[i].get('ActualCost')?.errors?.['required']"
                                >Required</span
                              >
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group mb-1">
                            <div class="col-12 d-flex">
                              <input
                                *ngIf="
                                  settlementDetailsItem.controls[i].get(
                                    'FileName'
                                  )?.value == ''
                                "
                                id="files"
                                type="file"
                                class="form-control"
                                ng2FileSelect
                                [uploader]="uploader"
                                (onFileSelected)="
                                  onChildFileSelected($event, i)
                                "
                                #inputFile
                              />
                              <label
                                *ngIf="
                                  settlementDetailsItem.controls[i].get(
                                    'FileName'
                                  )?.value != ''
                                "
                                style="margin-top: 7px; margin-left: 10px"
                                >{{
                                  settlementDetailsItem.controls[i].get(
                                    "FileName"
                                  )?.value
                                }}</label
                              >
                              <span
                                *ngIf="
                                  settlementDetailsItem.controls[i].get(
                                    'FileName'
                                  )?.value != ''
                                "
                                style="font-size: 15px; cursor: pointer"
                                (click)="removeLineAttachment(i)"
                                >&#10060;</span
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              "Total Amount" | translate
                            }}</label>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              totalAmount
                            }}</label>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              totalCost
                            }}</label>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="isDue">
                      <td></td>
                      <td></td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              "Due Amount" | translate
                            }}</label>
                          </div>
                        </div>
                      </td>
                      <td></td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              totalDue
                            }}</label>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="isRefund">
                      <td></td>
                      <td></td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              "Refund Amount" | translate
                            }}</label>
                          </div>
                        </div>
                      </td>
                      <td></td>
                      <td>
                        <div class="input-group mb-1">
                          <div class="input-group-prepend col-12">
                            <label class="input-group-text bg-lightgray">{{
                              totalRefund
                            }}</label>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pt-2">
                  <button
                    type="button"
                    class="btn btn-info btn-sm"
                    (click)="addItems()"
                  >
                    <i class="mdi mdi-plus-thick label-icon font-size-15"></i>
                    add new item
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div
        hidden
        class="col-lg-3"
        style="padding-left: 5px; padding-right: 0px"
        *ngIf="!isCollapsed"
      >
        <app-employee-info></app-employee-info>
        <form style="width: 100%" [formGroup]="bankFormGroup" class="row">
          <app-bank-account
            #bankAccountComponent
            formControlName="UserBankDetails"
            (onInitalize)="onInitalizeBankAccount($event)"
          ></app-bank-account>
        </form>
      </div>
    </div>
  </div>
  <div style="margin-top: 5rem" class="col-12">
    <div class="row justify-content-end">
      <div class="mb-2">
        <button
          type="submit"
          class="btn float-end btn-primary"
          (click)="onSubmit()"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </div>
  </div>
  <app-loader-custom [loading]="loading"></app-loader-custom>
</div>
