<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
  <button type="button" class="close CloseModal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <div class="row mt-6">
            <div class="col-12">
                <form [formGroup]="passwordForm" class="row">
                    <div class="row mb-3">
                    <label class="col-form-label col-lg-5">Current Password<span class="required-sign">*</span></label>
                    <div class="col-lg-7">
                        <input class="form-control" formControlName="CurrentPassword" type="password" placeholder="Enter Current password">
                        <error-handler controlName="CurrentPassword" displayName="Current Password"></error-handler>
                    </div>
                    </div>
                    <div class="row mb-3">
                    <label class="col-form-label col-lg-5">New Password<span class="required-sign">*</span></label>
                    <div class="col-lg-7">
                        <input class="form-control" formControlName="NewPassword" type="password" placeholder="Enter New password">
                        <error-handler controlName="NewPassword" displayName="New Password"></error-handler>
                    </div>
                    </div>
                    <div class="row mb-3">
                    <label class="col-form-label col-lg-5">Confirm Password<span class="required-sign">*</span></label>
                    <div class="col-lg-7">
                        <input class="form-control" formControlName="ConfirmPassword" type="password" placeholder="Enter Confirm password">
                        <error-handler controlName="ConfirmPassword" displayName="Confirm Password"></error-handler>
                    </div>
                    </div>
                </form>
            </div>
            </div>
            <div>
          </div>
        </div>
      </div>
      <button type="submit" style="margin-bottom: 2%" class="btn float-end btn-primary" (click)="changePassword()">Change</button>
    </div>
  </div>
</div>