<div *ngIf="canView" class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h4 class="card-title">Approval History</h4> 
            </div>
          </div>
          <hr>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th class="align-middle">{{'Approver Type'|translate}}</th>
                  <th class="align-middle">{{'Approver Name'|translate}}</th>
                  <th class="align-middle">{{'Completion Date'|translate}}</th>
                  <th class="align-middle">{{'Approval Status'|translate}}</th>
                  <th class="align-middle">{{'Remarks'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historyList let i = index;">
                  <td>{{item.ApproverGroupName}}</td>
                  <td>{{ item.UserName }}</td>
                  <td>{{item.ActionDateString}}</td>                 
                  <td>
                    <span *ngIf="item.StatusName == 'Submitted'" class="badge badge-pill badge-soft-info font-size-11">{{item.StatusName}}</span>
                    <span *ngIf="item.StatusName == 'Due'" class="badge badge-pill badge-soft-warning font-size-11">{{item.StatusName}}</span>
                    <span *ngIf="item.StatusName == 'Pending'" class="badge badge-pill badge-soft-primary font-size-11">{{item.StatusName}}</span>
                    <span *ngIf="item.StatusName == 'Approved'" class="badge badge-pill badge-soft-success font-size-11">{{item.StatusName}}</span>
                    <span *ngIf="item.StatusName == 'Declined'" class="badge badge-pill badge-soft-danger font-size-11">{{item.StatusName}}</span>
                    <span *ngIf="item.StatusName == 'Internal Control Pending'" class="badge badge-pill badge-soft-warning font-size-11">{{item.StatusName}}</span>
                  </td>
                  <td>
                    <p class="p-wrap">{{item.Remarks}}</p></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>