<div style="margin-top: 5px;margin-bottom: 5px;">
    <p class="gridRowZeroSpacing"><b style="margin-right: 5px;">{{'Request No'|translate}}:</b><span>{{requestNo}}</span></p>
    <p class="gridRowZeroSpacing">
        <b style="margin-right: 5px;">{{'Name'|translate}}:</b><span>{{userName}}</span>
    </p>
    <p class="gridRowZeroSpacing">
        <b style="margin-right: 5px;">{{'HR ID'|translate}}:</b><span>{{userHrId}}</span>
    </p>
    <p class="gridRowZeroSpacing">
        <b style="margin-right: 5px;">{{'Designation'|translate}}:</b><span>{{userDesignation}}</span>
    </p>
    <p class="gridRowZeroSpacing">
        <b style="margin-right: 5px;">{{'Department'|translate}}:</b><span>{{userDepartment}}</span>
    </p>
</div>