<div style="margin-top: 5px;margin-bottom: 5px;">
    <button type="button"
        class="gridRowZeroSpacing gridDetailbtn-action btn btn-info btn-label btn-sm waves-light" (click)="onDetails()"><i
            class="bx bx-detail label-icon"></i> Details</button>
    <button *ngIf="canEdit" type="button"
        class="gridRowZeroSpacing gridEditbtn-action btn btn-success btn-sm ms-1 btn-label waves-light"
        (click)="onEdit()"><i class="bx bx-edit label-icon"></i> Edit</button>
    <button type="button" style="padding-right: 15px"class="gridRowZeroSpacing gridEditbtn-action btn btn-success btn-sm ms-1 btn-label waves-light"
        (click)="onExcelDownload()"><i class="bx bx-download label-icon"></i> Download</button>
</div>