<div class="account-pages my-0 pt-sm-5 login-responsive">
    <div class="container login-center">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-6">
                <div class="glass">
                    <div class="row">
                        <div class="col-8">
                            <div class="text-white p-3">
                                <h5 class="text-white">Reset Password</h5>
                                <p class="text-white">PaperLess Advance & Settlement Solution</p>
                            </div>
                        </div>
                        <div class="col-4 align-self-end" style="margin:auto">
                            <img src="assets/images/stl-white.png" style="height:100px;width:auto;float:right" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="card-body pt-0"> 
                        <div class="auth-logo">
                        </div>
                        <div class="p-2">
                          <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                                
                            <div style="text-align: start" class="mb-3">
                                <label class="text-white">{{'Employee Type'|translate}}</label>
                                <div>
                                    <select class="form-select" name="employeeTypeId"
                                        formControlName="employeeTypeId" type="text">
                                        <option value=null selected disabled hidden>Emp.Type</option>
                                        <option *ngFor="let item of employeeTypeList" [ngValue]="item.Id">{{
                                            item.Name }}</option>
                                    </select>
                                    <error-handler controlName="employeeTypeId" displayName="{{'Employee Type'|translate}}">
                                    </error-handler>
                                </div>
                            </div>
                            <div style="text-align: start" class="mb-3">
                                <label class="text-white">{{'HR ID'|translate}}</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="hrId" formControlName="hrId"
                                        placeholder="Enter HR Id">
                                    <error-handler controlName="hrId" displayName="{{'HR ID'|translate}}">
                                    </error-handler>
                                </div>
                            </div>
                            <div class="text-center">
                                <button style="width: 30%;" class="btn btn-primary waves-effect waves-light text-white" type="submit">Reset</button>
                            </div>
                            </form>
                        </div>
    
                    </div>
                </div>
                <div class="mt-3 text-center text-white">
                    <div>
                      <span>{{year}} © PaperLess Advance & Settlement Solution</span><br>
                      <span>Design & Developed by Summit Communications Limited (IT-Development)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loader-custom [loading]="loading"></app-loader-custom>
  </div>