<div style="margin-top: 5px;margin-bottom: 5px;">
    <p class="gridRowZeroSpacing"><b>{{'Total Advance'|translate}}: </b><span>{{totalAmount|currency:"BDT":"৳ "}}</span></p>
    <p class="gridRowZeroSpacing"><b>{{'Total Cost'|translate}}: </b><span>{{totalCost|currency:"BDT":"৳ "}}</span></p>
    <p class="gridRowZeroSpacing"><b>{{'Total Due/Refund'|translate}}: </b><span>{{totalDueOrRefund|currency:"BDT":"৳ "}}</span></p>
    <p class="gridRowZeroSpacing"><b style="margin-right: 5px">{{'Status'|translate}}:</b>
        <span *ngIf="statusName == 'Submitted'" class="badge badge-pill badge-soft-info font-size-11">{{statusName|translate}}</span>
        <span *ngIf="statusName == 'Pending'" class="badge badge-pill badge-soft-primary font-size-11">{{statusName|translate}}</span>
        <span *ngIf="statusName == 'Approved'" class="badge badge-pill badge-soft-success font-size-11">{{statusName|translate}}</span>
        <span *ngIf="statusName == 'Declined'" class="badge badge-pill badge-soft-danger font-size-11">{{statusName|translate}}</span>
        <span *ngIf="statusName == 'Internal Control Pending'" class="badge badge-pill badge-soft-warning font-size-11">{{statusName|translate}}</span>
        <span *ngIf="isRevisedBill" style="margin-left: 1rem;" class="badge badge-pill badge-soft-danger font-size-11">{{'Revised Bill'|translate}}</span>
    </p>
</div>