<div style="margin-top: 5px;margin-bottom: 5px;">
    <button *ngIf="!canEdit" type="button"
        class="gridRowZeroSpacing gridDetailbtn-action btn btn-info btn-sm btn-label waves-light" (click)="onDetails()"><i
            class="bx bx-detail label-icon"></i> {{'Details'|translate}}</button>
    <button *ngIf="canEdit" type="button"
        class="gridRowZeroSpacing gridEditbtn-action btn btn-success btn-sm ms-1 btn-label waves-light"
        (click)="onEdit()"><i class="bx bx-edit label-icon"></i> {{'Edit'|translate}}</button>
</div>