<div style="margin-top: 5px;margin-bottom: 5px;">
    <button type="button" class="btn btn-info btn-sm btn-label waves-light" (click)="onDetails()"><i
            class="bx bx-detail label-icon"></i> {{'Details'|translate}}</button>
    <div class="d-inline" *ngIf="!hasNoAction">
        <button *ngIf="is_Approver_Pending" type="button"
            class="btn btn-success btn-sm  btn-label waves-light ms-1" (click)="onEdit()"><i
                class="bx bx-edit label-icon"></i> Check</button>
        <br>
    </div>
    <div class="d-inline">
        <button  type="button" style="padding-right: 15px"
            class="gridRowZeroSpacing gridEditbtn-action btn btn-success btn-sm ms-1 btn-label waves-light"
            (click)="onExcelDownload()"><i class="bx bx-download label-icon"></i> Excel</button>
        <button type="button" style="padding-right: 15px"class="gridRowZeroSpacing gridEditbtn-action btn btn-danger btn-sm ms-1 btn-label waves-light"
        (click)="onDownloadPDF()"><i class="bx bxs-file-pdf label-icon"></i> Pdf</button>
    </div>
</div>
