<div class="container-fluid">
    <app-page-title title="{{labelListTitle}}" [breadcrumbItems]="breadCrumbItems"> </app-page-title>
      <div class="row">
        <div class="row">
          <div class="col-2"></div>
          <div class="col card">
            <div class="card-body">
              <div class="row">
                <div class="w-100 col">
                  <button class="btn btn-primary w-15 float-right mb-2" (click)="openModalItem(null)"> Add New</button>
                  <table class="table table-responsive table-bordered table-lg mb-0 f-ss-14px">
                    <thead>
                      <tr class="tableHeader">
                        <th scope="col-1" class="table-header-color text-align-left">{{'Designation'|translate}}</th>
                        <th scope="col-5" class="table-header-color text-align-left">{{'Major City Allowance'|translate}}</th>
                        <th scope="col-5" class="table-header-color text-align-left">{{'Minor City Allowance'|translate}}</th>
                        <th scope="col-1" class="table-header-color text-align-center">{{'Action'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listData">
                        <td class="text-align-center">{{item.DesignationName}}</td>
                        <td class="text-align-center">{{item.TotalAllownaceMajor}}</td>
                        <td class="text-align-center">{{item.TotalAllownaceMinor}}</td>
                        <td class="text-align-left">
                          <span class="item-link" (click)="openModalItem(item)" data-toggle="tooltip" title="Edit">
                            <i _ngcontent-lvp-c150="" class="mdi mdi-grease-pencil d-block font-size-12"></i>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>